* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.body {
  width: 100%;
  height: 100%;
  cursor: default;
}
.flight-test {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.246);
  position: fixed;
  font-family: "cookie";
}
.header-logo {
  width: 210px;
  height: 26.25px;
  color: black;
  margin-left: 300px;
}
.header-logo img {
  width: 210px;
  height: 26.25px;
}
.header-logo img {
  width: 210px;
  height: 26.25px;
  color: black;
}
.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  font-size: 13px;
  letter-spacing: -1px;
  font-weight: bolder;
  flex-grow: 1;
}
.header-center p {
  transition: all 0.4s ease-in-out;
}
.header-center p:hover {
  cursor: pointer;
  color: white;
  translate: 0px -5px;
}
.header-end {
  font-weight: bolder;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
.flight-test-sentence {
  padding-top: 600px;
  padding-left: 400px;
}
button {
  width: 100px;
  height: 50px;
  margin-left: 400px;
}
